form {
    .validation-errors,
    .validation-message {
        display: block;
        // font-size: 80%;
        margin-bottom: 1rem;
        color: $red;
        
        i {
            color: $red;
            width: 13px;
            height: 12px;
        }
    }

    .validation-message {
        margin-top: .25rem;
    }

    .validation-errors {
        margin-top: .5rem;
    }
}