.element{
    height: 100%; /* For 100% screen height */
    width:  100%; /* For 100% screen width */
}

.margin-top-20 {
    margin-top: 20px;
}

.loading {    
    background-color: #ffffff;
    background-image: url("http://loadinggif.com/images/image-selection/3.gif");
    background-size: 25px 25px;
    background-position:right center;
    background-repeat: no-repeat;
}