// .element{
//     height: 100vh; /* For 100% screen height */
//     width:  100%; /* For 100% screen width */
// }
$em05: 0.5em;

.flex {
    display: flex;
}

.flex-end {
    margin-left: auto;
}

.remove-icon {
    cursor: pointer;
}

.flex-start {
    margin-right: auto;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-10 {
    margin-top: 10px;
}

.color-span-debt {
    color: $redSpan;
}

.margin-auto {
    margin: auto;
}

.border-less {
    td, th {
        border: none;
    }
}

.red-color {
    color: $red;
}

.blue-color {
    color: $blue;
}

.border-table {
    border: 0.1em solid #c4c9ce;
}

.green-color {
    color: $green;
}

.margin-left-05em {
    margin-left: $em05;
}